<template>
  <!-- Jumbotron -->
  <div class="bg-primary text-white">
      <img src="https://kenmore.cl/cdn/shop/collections/BANNER_3Q.jpg?v=1681418676&width=2048" style="width: 100%; height: 50vh;" alt="">
  </div>
  <!-- Jumbotron -->
</template>
