<template>
  <header>
    <LayoutsHeader />
  </header>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-9" v-if="productosStore.productos.length > 0">
          <div class="card border shadow-0">
            <div class="m-4">
              <h4 class="card-title mb-4">Tu Carrito de Compras</h4>
              <div
                class="row gy-3 mb-4"
                v-for="(item, index) in productosStore.productos"
                :key="index"
              >
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex">
                      <img
                        :src="getImagen(item.imagen.image)"
                        class="border rounded me-3"
                        style="width: 96px; height: 96px"
                      />
                      <div class="">
                        <a href="#" class="nav-link"
                          >{{item.name}}</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap"
                >
                  <div class="">
                    <div class="col-md-12 col-12 mb-3">
                      <label class="mb-2 d-block">Cantidad</label>
                      <div class="input-group mb-3" style="width: 170px">
                        <button
                          class="btn btn-white border border-secondary px-3"
                          type="button"
                          @click="() => updateQtyProductCart(index, 'resta')"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                        <input
                          type="text"
                          class="form-control text-center border border-secondary"
                          v-model="item.qty"
                        />
                        <button
                          class="btn btn-white border border-secondary px-3"
                          type="button"
                          @click="() => updateQtyProductCart(index, 'suma')"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <text class="h6">$ {{ item.total }}</text> <br />
                    <small class="text-muted text-nowrap">
                      $ {{ item.price }} / Por Item
                    </small>
                  </div>
                </div>
                <div
                  class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2"
                >
                  <div class="float-md-end">
                    <button
                      @click="deleteProductToCart(index)"
                      class="btn btn-light border text-danger icon-hover-danger"
                    >
                      Remove</button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cart -->
        <!-- summary -->
        <div class="col-lg-3" v-if="productosStore.productos.length > 0">
          <div class="card shadow-0 border">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2">$ {{ productosStore.totales }}</p>
              </div>
              <!-- <div class="d-flex justify-content-between">
                <p class="mb-2">Discount:</p>
                <p class="mb-2 text-success">-$60.00</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="mb-2">TAX:</p>
                <p class="mb-2">$14.00</p>
              </div> -->
              <hr />
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2 fw-bold">$ {{ productosStore.totales }} </p>
              </div>

              <div class="mt-3">
                <router-link to="/checkout" class="btn btn-success w-100 shadow-0 mb-2">
                  Comprar
                </router-link>
                <router-link
                  to="/productos"
                  class="btn btn-light w-100 border mt-2"
                >
                  Ir a la tienda
                </router-link>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12" v-else>
            No tienes productos para mostrar
        </div>
        <!-- summary -->
      </div>
    </div>
  </section>

  <LayoutsFooter />
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import LayoutsFooter from "@/components/Layouts/Footer.vue";

import { useCarritoStore } from "@/stores/useCarritoStore";
const productosStore = useCarritoStore();

const {updateQtyProductCart, deleteProductToCart} = productosStore

const getImagen = (imagen) => {
  return "https://api.impresosgalarce.cl/uploads/imagesProductos/"+imagen
}
</script>
