<template>
  <header>
    <LayoutsHeader />
  </header>

  <main class="">
    <div class="container">
      <!-- Heading -->
      <h2 class="my-5 text-center">Informacion de Pago</h2>

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Card-->
          <div class="card p-4">
            <!--Grid row-->
            <div class="row mb-3">
              <!--Grid column-->
              <div class="col-md-6 mb-2">
                <!--lastName-->
                <label class="form-label" for="typeText">RUT</label>
                <input
                  type="text"
                  v-model="formData.rut"
                  class="form-control"
                />
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-md-6 mb-2">
                <!--lastName-->
                <label class="form-label" for="typeText">Correo</label>
                <input
                  type="text"
                  v-model="formData.email"
                  class="form-control"
                />
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-md-12 mb-2">
                <!--lastName-->
                <label class="form-label" for="typeText"
                  >Nombre y Apellido</label
                >
                <input
                  type="text"
                  v-model="formData.nombre"
                  class="form-control"
                />
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-md-12 mb-2">
                <!--lastName-->
                <label class="form-label" for="typeText">Direccion</label>
                <input
                  type="text"
                  v-model="formData.direccion"
                  class="form-control"
                />
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
            <hr class="mb-4" />
            <button class="btn btn-primary" @click="order()" type="button">
              Pagar
            </button>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tu Carrito</span>
            <span class="badge rounded-pill badge-primary">{{
              totalCarrito
            }}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3">
            <li
              class="list-group-item d-flex justify-content-between"
              v-for="(item, index) in productosStore.productos"
              :key="index"
            >
              <div>
                <span>{{ item.name }}</span>
              </div>
              <span class="text-muted">$ {{ item.total }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <h6 class="my-0">Total</h6>
              <strong>$ {{ productosStore.totales }}</strong>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>

  <LayoutsFooter />
</template>

<script setup>
import { computed, ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import LayoutsFooter from "@/components/Layouts/Footer.vue";
import { useAuthStore } from "@/stores/useAuthStore";
import { useCarritoStore } from "@/stores/useCarritoStore";
const productosStore = useCarritoStore();
const storeUser = useAuthStore();
const logueado = ref(storeUser.session);
import api from "@/utils/api";

const formData = ref({
  rut: logueado.value ? storeUser.user.rut : "",
  nombre: logueado.value ? storeUser.user.name : "",
  direccion: logueado.value ? storeUser.user.direction : "",
  email: logueado.value ? storeUser.user.email : "",
});

const totalCarrito = computed(() => {
  const valor = parseInt(productosStore.productos.length);
  return valor;
});

const order = () => {
  const data = {
    datos: formData.value,
    total: productosStore.totales,
    productos: productosStore.productos,
  };
  api.post("newOrder", data).then(async (response) => {
    storeUser.setUser(
      true,
      response.data.user,
      response.data.token.plainTextToken
    );

    let data = {
      email: response.data.user.email,
      order: response.data.orden.id,
      subject: "Compra General",
      amount: productosStore.totales,
      payment: 1,
      urlreturn: "https://ecommerce.impresosgalarce.cl/transaccionStatus/" + response.data.orden.id,
      urlnotify: "https://api.impresosgalarce.cl/api/notifyPayku/" + response.data.orden.id,
    };

    const transaccionPayku = await fetch(
      "https://des.payku.cl/api/transaction",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer tkpu9db115c9bf31e2c9c4daf1a1ffc0",
        },
        body: JSON.stringify(data),
      }
    );
    const result = await transaccionPayku.json();
    api.get('updatePaykuId/'+response.data.orden.id+'/'+result.id).then(() => {
      window.location.href = result.url;
    })
  });
};


</script>
