<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>
  <!-- Products -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-4">
          <ProductGallery v-if="imagesShow != []" :imagesUrl="images" />
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-8">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{producto.name}}
            </h4>

            <div class="mb-3">
              <span class="h5">$ {{ producto.price }}</span>
              <span class="text-muted">/ unidad</span>
            </div>

            <p>
              {{producto.descripcion}}
            </p>

            <hr />

            <div class="row mb-4">
              <!-- col.// -->
              <div class="col-md-12 col-12 mb-3">
                <label class="mb-2 d-block">Cantidad</label>
                <div class="input-group mb-3" style="width: 170px">
                  <button
                    class="btn btn-white border border-secondary px-3"
                    type="button"
                    @click="() => producto.qty--"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <input
                    type="text"
                    class="form-control text-center border border-secondary"
                    v-model="producto.qty"
                  />
                  <button
                    class="btn btn-white border border-secondary px-3"
                    type="button"
                    @click="() => producto.qty++"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <button @click="addProductToCartQty(producto, producto.qty)" href="#" class="btn btn-primary shadow-0 w-100">
              <i class="me-1 fa fa-shopping-basket"></i> Agregar al carrito
            </button>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->

  <LayoutsFooter />
</template>

<script setup>
import { ProductGallery } from "vue-pretty-box";
import "vue-pretty-box/dist/vue-pretty-box.css";
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import LayoutsFooter from "@/components/Layouts/Footer.vue";
import { useRoute } from "vue-router";
import api from "@/utils/api";
import { useCarritoStore } from "@/stores/useCarritoStore";
const productosStore = useCarritoStore();
const {addProductToCartQty} = productosStore

const route = useRoute();
const images = ref([]);
const imagesShow = ref(false)
const producto = ref({
  name: '',
  descripcion: '',
  price: '',
  qty: 0
})
const getProducto = () => {
  api.get("product-detail/" + route.params.idProducto).then((response) => {
    response.data.data.imagenes.forEach(function (imagen) {
      images.value.push({
        img: 'https://api.impresosgalarce.cl/uploads/imagesProductos/'+imagen.image,
        alt: 'Imagen Producto',
        figcaption: 'Imagen Producto',
        style: 'width: 100%'
      });
    });
    producto.value = response.data.data
    producto.value.qty = 1

    imagesShow.value = true
  });
};

getProducto();
</script>

<style>
/* @import "vue-pretty-box/vue-pretty-box.scss"; */
/* @import "vue-pretty-box/vue-pretty-box.css"; */
</style>
