<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>
  <!-- Products -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 mt-5">
        <div class="card">
          <div class="card-header">Inicio de Sesion</div>
          <div class="card-body">
              <!-- Email input -->
              <div class="form-outline">
                <label for="">Correo</label>
                <input
                  type="email"
                  id="loginName"
                  v-model="credentials.email"
                  class="form-outline"
                />
              </div>

              <!-- Password input -->
              <div class="form-outline">
                <label for="">Clave</label>
                <input
                  type="password"
                  id="loginPassword"
                  class="form-outline"
                  v-model="credentials.password"
                />
              </div>
              <!-- Submit button -->
              <button @click="login" class="btn btn-primary btn-block mb-4 mt-3">
                Iniciar Sesion
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>
                  No tienes cuenta?
                  <router-link to="/register">Registrate</router-link>
                </p>
              </div>
            <!-- Pills content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import api from "@/utils/api";
import { useAuthStore } from "@/stores/useAuthStore";
import { useRouter } from "vue-router";
const storeUser = useAuthStore();
const router = useRouter();

const Validate = () => {
  if(storeUser.session == true)
  {
    router.push('/mi-cuenta')
  }
}

Validate()
const credentials = ref({
  email: "",
  password: "",
});

const login = () => {
  api.post("login", credentials.value).then((response) => {
    if (response.data.status == true) {
      storeUser.setUser(
        true,
        response.data.data,
        response.data.token.plainTextToken
      );
      router.push("/mi-cuenta");
    }
  });
};
</script>
