<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>
  <!-- Products -->
  <!-- sidebar + content -->
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-lg-3">
          <!-- Collapsible wrapper -->
          <div
            class="collapse card d-lg-block mb-5"
            id="navbarSupportedContent"
          >
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button text-dark bg-light"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    Categorias
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                >
                  <div class="accordion-body">
                    <ul class="list-group list-group-light">
                      <li
                        v-for="(categoria, index) in categorias"
                        :key="index"
                        class="list-group-item"
                        role="button"
                        @click="filtrar(categoria.id)"
                      >
                      {{ categoria.nombre }}
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar -->
        <!-- content -->
        <div class="col-lg-9">
          <div class="row">
            <div
              class="col-lg-4 col-md-6 col-sm-6 d-flex"
              v-for="(producto, index) in productos"
              :key="index"
            >
              <div class="card w-100 my-2 shadow-2-strong">
                <router-link :to="'producto/' + producto.id">
                  <img
                    :src="getImagen(producto.imagen.image)"
                    class="card-img-top"
                    style="aspect-ratio: 1 / 1"
                  />
                </router-link>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ producto.name }}</h5>
                  <p class="card-text text-end">$ {{ producto.price }}</p>
                  <div
                    class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto"
                  >
                    <button
                      @click="addProductToCartQty(producto, 1)"
                      class="btn btn-primary shadow-0 me-1 w-100"
                    >
                      Agregar Al Carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <hr /> -->

          <!-- Pagination -->
          <!-- <nav
            aria-label="Page navigation example"
            class="d-flex justify-content-center mt-3"
          >
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav> -->
          <!-- Pagination -->
        </div>
      </div>
    </div>
  </section>
  <!-- sidebar + content -->


  <LayoutsFooter />
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import LayoutsFooter from "@/components/Layouts/Footer.vue";
import api from "@/utils/api";

import { useCarritoStore } from "@/stores/useCarritoStore";
const productosStore = useCarritoStore();
const { addProductToCartQty } = productosStore;
const productos = ref([]);
const categorias = ref([]);
const getProducts = async () => {
  api.get("productsAll").then((response) => {
    console.log(response.data);
    productos.value = response.data.data;
  });
};

getProducts();

const getCategorias = () => {
  api.get("categorias").then((response) => {
    categorias.value = response.data.data;
  });
};

getCategorias();

const filtrar = (idCategoria) => {
  api.get('productsByCategory/'+idCategoria).then((response) => {
    productos.value = response.data.data
  })
}

const getImagen = (imagen) => {
  return "https://api.impresosgalarce.cl/uploads/imagesProductos/"+imagen
}
</script>
