<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>
  <!-- Products -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 mt-5">
        <div class="card">
          <div class="card-header">Registro</div>
          <div class="card-body">
            <div class="form-outline">
              <label for="">Nombre</label>
              <input
                type="email"
                id="loginName"
                v-model="credentials.name"
                class="form-outline"
              />
            </div>

            <!-- Email input -->
            <div class="form-outline">
              <label for="">Correo</label>
              <input
                type="email"
                id="loginName"
                v-model="credentials.email"
                class="form-outline"
              />
            </div>

            <!-- Password input -->
            <div class="form-outline">
              <label for="">Clave</label>
              <input
                type="password"
                id="loginPassword"
                class="form-outline"
                v-model="credentials.password"
              />
            </div>
            <!-- Submit button -->
            <button
              @click="register"
              class="btn btn-primary btn-block mb-4 mt-3"
            >
              Registrar
            </button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>
                Tienes cuenta?
                <router-link to="/login">Incia Sesion</router-link>
              </p>
            </div>
            <!-- Pills content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import api from "@/utils/api";
import { useAuthStore } from "@/stores/useAuthStore";
import { useRouter } from "vue-router";
const storeUser = useAuthStore();
const router = useRouter();

const Validate = () => {
  if(storeUser.session == true)
  {
    router.push('/mi-cuenta')
  }
}

Validate()

const credentials = ref({
  name: "",
  email: "",
  password: "",
});

const register = () => {
  api.post("register", credentials.value).then((response) => {
    if (response.data.status == true) {
      storeUser.setUser(
        true,
        response.data.data,
        response.data.token.plainTextToken
      );
      router.push("/mi-cuenta");
    }
  });
};
</script>
