<template>
  <header>
    <LayoutsHeader />
  </header>

  <div class="container px-5 mt-5">
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-success bg-opacity-25 rounded-5" v-if="result.status == 'success'">
      <h1 class="mb-3">
        <i class="fa fa-check-circle text-success" style="font-size: 5rem;"></i>
      </h1>
      Transaccion procesada con exito, puedes ir a tu cuenta y ver el status del pedido!
      <br>
      <router-link class="btn btn-primary mt-3 mb-4" to="/mi-cuenta" role="button">Ir Al Inicio</router-link>
    </div>
    <!-- Jumbotron -->
  </div>
  <LayoutsFooter />
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import LayoutsFooter from "@/components/Layouts/Footer.vue";
import { useCarritoStore } from "@/stores/useCarritoStore";
import { useRoute } from "vue-router";
import api from "@/utils/api";
const route = useRoute();
const productosStore = useCarritoStore();
const idOrden = ref(route.params.idOrden);
const result = ref("");

const getPayment = async () => {
  api.get("getPaykuIdOrder/" + idOrden.value).then(async (response) => {
    const response2 = await fetch(
      "https://des.payku.cl/api/transaction/" + response.data,
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer tkpu9db115c9bf31e2c9c4daf1a1ffc0",
        },
      }
    );
    result.value = await response2.json();

    api.post("updateStatus/" + idOrden.value, result.value).then((response) => {
      console.log(response.data);
    });

    console.log("reseteando");

    if (result.value.status == "success") {
      console.log("reseteando");
      productosStore.$reset();
    }
  });
};
getPayment();
</script>
