<template>
  <ul class="list-group list-group-light">
    <router-link to="/mi-cuenta/" class="list-group-item px-3 border-0">Inicio</router-link>
    <router-link to="/mi-cuenta/mis-ordenes" class="list-group-item px-3 border-0">Mis Ordenes</router-link>
    <router-link to="/mi-cuenta/mi-perfil" class="list-group-item px-3 border-0">Mi Perfil</router-link>
  </ul>
</template>


<script setup>
import { useAuthStore } from "@/stores/useAuthStore";
import { useRouter } from "vue-router";
const router = useRouter()
const storeUser = useAuthStore();
</script>