<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <Menu :active="categorias" />
      </div>
      <div class="col-md-9">
        <div class="d-flex justify-content-between">
          <h1>Agregar categoria</h1>
          <router-link class="btn btn-warning" to="/admin/categorias">
            Regresar
          </router-link>
        </div>

        <label for="">Categoria</label>
        <input type="text" v-model="nombre" class="form-control input-outline">

        <button class="btn btn-success w-100 mt-3" @click="store">Guardar</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import Menu from "@/views/Cuenta/Components/Menu.vue";
import apiToken from "@/utils/apiToken";
import { useRouter } from "vue-router";
const router = useRouter()

const categorias = ref("categorias");

const nombre = ref('')

const store = () => {
    apiToken.post('categoria', {nombre: nombre.value}).then((response) => {
        if(response.data.status == true)
        {
                router.push('/admin/categorias')
        }
    })
}
</script>
