<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <Menu />
      </div>
      <div class="col-md-9">
        <div class="d-flex justify-content-between">
          <h1>Categorias</h1>
          <router-link class="btn btn-success" to="/admin/categorias/add">
            Agregar Nueva
          </router-link>
        </div>
        <hr />

        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
              <!-- <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr v-for="(categoria, index) in categorias" :key="index">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ categoria.nombre }}</td>
              <!-- <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm px-3"
                  data-ripple-color="dark"
                >
                  <i class="fas fa-times"></i>
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import LayoutsHeader from "@/components/Layouts/Header.vue";
import Menu from "@/views/Cuenta/Components/Menu.vue";
import apiToken from "@/utils/apiToken";
const categorias = ref([]);

const getData = () => {
  apiToken.get("categoria").then((response) => {
    categorias.value = response.data.data;
  });
};

getData();
</script>
