<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <Menu />
      </div>
      <div class="col-md-9">
        <h1>Bienvenid@ {{ storeUser.user.name }}</h1> 
      </div>
    </div>
  </div>
</template>

<script setup>
import LayoutsHeader from "@/components/Layouts/Header.vue";
import Menu from "@/views/Cuenta/Components/Menu.vue";
import { useAuthStore } from "@/stores/useAuthStore";
const storeUser = useAuthStore();

</script>
