<template>
  <!--Main Navigation-->
  <header>
    <LayoutsHeader />
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <Menu />
      </div>
      <div class="col-md-9">
        <h1>Tus Ordenes</h1>

        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Fecha</th>
              <th>Monto</th>
              <th>Estado</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="ms-3">
                    <p class="fw-bold mb-1">John Doe</p>
                  </div>
                </div>
              </td>
              <td>
                <span class="badge badge-success rounded-pill d-inline"
                  >Active</span
                >
              </td>
              <td>Senior</td>
              <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                  Ver
                </button>
              </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import LayoutsHeader from "@/components/Layouts/Header.vue";
import Menu from "@/views/Cuenta/Components/Menu.vue";
import { useAuthStore } from "@/stores/useAuthStore";
import apiToken from "@/utils/apiToken";
const storeUser = useAuthStore();

const getOrdenes = () => {
    apiToken.get('mis-ordenes/'+storeUser.user.id).then((response) => {
        console.log(response.data)
    })
}

getOrdenes()
</script>
